---
layout: base
title: Projects - Thomas Meagher
css: projects
---

{% include nav.html %}

<div class="section">

  <div class="project-image">
    <a href="http://thomasmeagher.com/ProductHuntTimeMachine/"><img class="project-icon" src="{{ "../img/timemachine.svg" | prepend: site.baseurl }}" alt="Time Machine"></a>
  </div>

  <div class="about">
    <h1>Time Machine</h1>
    <h2>Re-discover the best products<br>from Product Hunt.</h2>
    
    <ul>
      <li class="link-projects" ><a href="http://thomasmeagher.com/ProductHuntTimeMachine/">Website</a></li>
      <li class="link-projects" ><a href="https://itunes.apple.com/us/app/product-hunt-time-machine/id956311358">App Store</a></li>
      <li class="link-projects" ><a href="https://github.com/thomasmeagher/ProductHuntTimeMachine">GitHub</a></li>
      <li class="link-projects" ><a href="http://www.producthunt.com/posts/product-hunt-timemachine">Product Hunt</a></li>
    </ul>
  </div>

</div>

<div class="section">

  <div class="project-image">
    <a href="http://thomasmeagher.com/Daily"><img class="project-icon" src="{{ "../img/daily.svg" | prepend: site.baseurl }}" alt="Daily"></a>
  </div>

  <div class="about">    
    <h1>Daily</h1>
    <h2>Keep track of your<br>dos and don'ts, everyday.</h2>

    <ul>
      <li class="link-projects" ><a href="http://thomasmeagher.com/Daily/">Website</a></li>
      <li class="link-projects" ><a href="https://itunes.apple.com/us/app/daily-keep-track-your-dos/id942352316">App Store</a></li>
      <li class="link-projects" ><a href="https://github.com/thomasmeagher/Daily">GitHub</a></li>
    </ul>
  </div>

</div>

<div class="section">

  <div class="project-image">
    <a href="https://meagher.typeform.com/to/JnVbqY"><img class="project-icon" src="{{ "../img/apptemp.svg" | prepend: site.baseurl }}" alt="My Next Project"></a>
    <!-- Icon created by Dimitry Sunseifer http://thenounproject.com/sokolovds/ -->
  </div>

  <div class="about">    
    <h1>Upcoming Projects</h1>
    <h2>Tech enthusiasts –<br>subscribe for project updates.</h2>

    <ul>
      <li class="link-projects" ><a href="https://meagher.typeform.com/to/JnVbqY">Subscribe</a></li>
    </ul>
  </div>

</div>

{% include foot.html %}