---
layout: base
title: Projects
---

{% include nav.html %}

<section class="project-section">

  <div class="project-image">
    <a href="http://thomasmeagher.com/TimeMachine/"><img class="project-icon" src="{{ "../img/timemachine.svg" | prepend: site.baseurl }}" alt="Time Machine"></a>
  </div>

  <div class="project-about">
    <h2>Time Machine</h2>
    <h3>Re-discover the best products<br>from Product Hunt.</h3>
    
    <ul>
      <li class="link-projects" ><a href="http://thomasmeagher.com/TimeMachine/">Website</a></li>
      <li class="link-projects" ><a href="https://itunes.apple.com/us/app/product-hunt-time-machine/id956311358">App Store</a></li>
      <li class="link-projects" ><a href="https://github.com/thomasmeagher/TimeMachine">GitHub</a></li>
      <li class="link-projects" ><a href="http://www.producthunt.com/tech/time-machine">Product Hunt</a></li>
    </ul>
  </div>

</section>

<section class="project-section">

  <div class="project-image">
    <a href="http://thomasmeagher.com/Daily"><img class="project-icon" src="{{ "../img/daily.svg" | prepend: site.baseurl }}" alt="Daily"></a>
  </div>

  <div class="project-about">    
    <h2>Daily</h2>
    <h3>Keep track of your<br>dos and don'ts, everyday.</h3>

    <ul>
      <li class="link-projects" ><a href="http://thomasmeagher.com/Daily/">Website</a></li>
      <li class="link-projects" ><a href="https://itunes.apple.com/us/app/daily-keep-track-your-dos/id942352316">App Store</a></li>
      <li class="link-projects" ><a href="https://github.com/thomasmeagher/Daily">GitHub</a></li>
    </ul>
  </div>

</section>

<section class="project-section">

  <div class="project-image">
    <a href="https://meagher.typeform.com/to/JnVbqY"><img class="project-icon" src="{{ "../img/apptemp.svg" | prepend: site.baseurl }}" alt="My Next Project"></a>
    <!-- Icon created by Dimitry Sunseifer http://thenounproject.com/sokolovds/ -->
  </div>

  <div class="project-about">    
    <h2>Upcoming</h2>
    <h3>Subscribe for updates or<br>view my code on GitHub.</h3>

    <ul>
      <li class="link-projects" ><a href="https://meagher.typeform.com/to/JnVbqY">Subscribe</a></li>
      <li class="link-projects" ><a href="https://github.com/thomasmeagher">GitHub</a></li>
    </ul>
  </div>

</section>

{% include foot.html %}