@font-face {
  font: {
    family: "Hind";
    style: normal;
    weight: normal;
  }
  src: url("/assets/fonts/hind/regular.woff2") format("woff2"),
    url("/assets/fonts/hind/regular.woff") format("woff");
}

@font-face {
  font: {
    family: "Hind";
    style: normal;
    weight: 300;
  }
  src: url("/assets/fonts/hind/light.woff2") format("woff2"),
    url("/assets/fonts/hind/light.woff") format("woff");
}

@font-face {
  font: {
    family: "Hind";
    style: normal;
    weight: 500;
  }
  src: url("/assets/fonts/hind/medium.woff2") format("woff2"),
    url("/assets/fonts/hind/medium.woff") format("woff");
}

@font-face {
  font: {
    family: "Hind";
    style: normal;
    weight: 600;
  }
  src: url("/assets/fonts/hind/semibold.woff2") format("woff2"),
    url("/assets/fonts/hind/semibold.woff") format("woff");
}

@font-face {
  font: {
    family: "Hind";
    style: normal;
    weight: bold;
  }
  src: url("/assets/fonts/hind/bold.woff2") format("woff2"),
    url("/assets/fonts/hind/bold.woff") format("woff");
}
