@import "../helpers/variables";
@import "../helpers/functions";
@import "../helpers/mixins";
@import "../helpers/fonts";
@import "../helpers/animations";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  @include respond-to(sm) {
    font-size: $root-font-size;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: color(night, font);
  font: {
    family: $sans;
    size: $root-font-size * 0.95;
  }
  height: 100vh;
  text-rendering: optimizeLegibility;
  transition: {
    duration: $transition-duration;
    property: color;
  }
  width: 100vw;

  &.night {
    color: color(night, font);
  }
  &.day {
    color: color(day, font);
  }
  &.sepia {
    color: color(sepia, font);
  }
  &.dusk {
    color: color(dusk, font);
  }
}

body {
  @include respond-to(sm) {
    margin: {
      right: 0;
      top: 8rem;
    }
  }
  @include respond-to(md) {
    margin-left: 10rem;
  }
  animation: {
    delay: 0.75s;
    duration: 2000ms;
    fill-mode: both;
    name: fadeIn;
  }
  background-color: color(night, background);
  color: color(night, font, secondary);
  margin: {
    left: 2rem;
    right: 2rem;
    top: 6rem;
  }
  max-width: $root-container-width;
  transition: {
    duration: $transition-duration;
    property: background-color, color;
  }

  &.night {
    background-color: color(night, background);
    color: color(night, font, secondary);
  }

  &.day {
    background-color: color(day, background);
    color: color(day, font, secondary);
  }

  &.sepia {
    background-color: color(sepia, background);
    color: color(sepia, font, secondary);
  }

  &.dusk {
    background-color: color(dusk, background);
    color: color(dusk, font, secondary);
  }
}

p {
  animation: {
    delay: 0.9s;
    duration: 2000ms;
    fill-mode: both;
    name: fadeIn;
  }
  color: color(night, font, secondary);
  font-size: 0.95rem;
  line-height: 1.6;
  margin: {
    bottom: 1rem;
    top: 0;
  }
  transition: {
    duration: $transition-duration;
    property: color;
  }
}

a {
  color: color(night, font);
  display: inline-block;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: {
    duration: $transition-duration;
    property: color;
  }

  &:hover {
    color: color(night, font);
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 4px;
    left: 0;
    background-color: color(night, font);
    transform-origin: bottom right;
    transition: {
      duration: 0.25s;
      property: transform;
      timing-function: ease-out;
    }
  }
}

h1 {
  color: color(night, font);
  font: {
    size: 1.15rem;
    weight: 900;
  }
  margin: {
    bottom: 2rem;
    top: 0;
  }
  transition: {
    duration: $transition-duration;
    property: color;
  }
}

img {
  @include respond-to(sm) {
    left: 2rem;
  }
  cursor: pointer;
  height: 1rem;
  position: absolute;
  top: 2rem;
  width: 1rem;
}

.night {
  #day {
    display: none;
  }
  #sepia {
    display: none;
  }
  #dusk {
    display: none;
  }
  p {
    color: color(night, font, secondary);
  }
  a {
    color: color(night, font);
    &:hover {
      color: color(night, font);
    }
    &::after {
      background-color: color(night, font);
    }
  }
  h1 {
    color: color(night, font);
  }
}

.day {
  #night {
    display: none;
  }
  #sepia {
    display: none;
  }
  #dusk {
    display: none;
  }
  p {
    color: color(day, font, secondary);
  }
  a {
    color: color(day, font);
    &:hover {
      color: color(day, font);
    }
    &::after {
      background-color: color(day, font);
    }
  }
  h1 {
    color: color(day, font);
  }
}

.sepia {
  #night {
    display: none;
  }
  #day {
    display: none;
  }
  #dusk {
    display: none;
  }
  p {
    color: color(sepia, font, secondary);
  }
  a {
    color: color(sepia, font);
    &:hover {
      color: color(sepia, font);
    }
    &::after {
      background-color: color(sepia, font);
    }
  }
  h1 {
    color: color(sepia, font);
  }
}

.dusk {
  #night {
    display: none;
  }
  #day {
    display: none;
  }
  #sepia {
    display: none;
  }
  p {
    color: color(dusk, font, secondary);
  }
  a {
    color: color(dusk, font);
    &:hover {
      color: color(dusk, font);
    }
    &::after {
      background-color: color(dusk, font);
    }
  }
  h1 {
    color: color(dusk, font);
  }
}
