@import 'variables';
@import 'functions';
@import 'mixins';

.t-section {
  margin-bottom: 1rem;
}
.t-section__title {
  font: {
    size: 1rem;
    weight: bold;
  }
  margin: {
    bottom: 1rem;
    top: 0;
  }
}
.t-list {
  border-top: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
  list-style-type: none;
  margin: {
    bottom: 2rem;
    top: 0;
  }
  padding: 0;
}
.t-list-item {
  @include flex-row;
  border-bottom: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
}
.t-list-item__link {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: {
    bottom: .7rem;
    top: .7rem;
  }
  text-decoration: none;
  transition: {
    property: padding-left;
    duration: .25s;
  }
  width: 100%;
  &:hover { padding-left: .5rem }
}
.t-list-item__title {
  font: {
    size: .9rem;
    weight: 500;
  }
}
.t-list-item__time {
  color: color(gray);
  font-size: .75rem;
}
