@import './variables';
@import './functions';
@import './mixins';

.footer {
  @include flex-row;
  align-items: flex-end;
    border-top: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
  font-size: .8rem;
  justify-content: space-between;
  margin: {
    bottom: 5rem;
    top: 2rem;
  }
  padding-top: .5rem;
  img {
    -webkit-filter: grayscale(1);
    height: 1.25rem;
    transition: {
      duration: .15s;
      property: transform;
      timing-function: cubic-bezier(.11,.65,1,1.69);
    }
    &:hover {
      -webkit-filter: grayscale(0);
      transform: scale(1.5);
    }
  }
}
