@import './variables';
@import './functions';
@import './mixins';

.footer {
  @include flex-row;
  align-items: center;
    border-top: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
  color: color(gray);
  font-size: .8rem;
  justify-content: space-between;
  margin: {
    bottom: 5rem;
    top: 2rem;
  }
  padding-top: .5rem;
}
