@import 'variables';
@import './functions';
@import './mixins';

.navbar {
  @include flex-row;
  align-items: center;
  border-bottom: {
    color: color(black);
    style: solid;
    width: 1px;
  }
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: .35rem;
}
.navbar__left,
.navbar__right {
  @include flex-row;
}
.navbar__link {
  font: {
    size: .9rem;
    weight: 400;
  }
  margin-right: 1rem;
  text-decoration: none;
  &:last-child { margin-right: 0; }
  &.logo {
    color: color(green);
    font-weight: bold;
  }
}
