@import './variables';
@import './functions';
@import './mixins';
@import './code';

.post__header {
  margin-bottom: 2rem;
}

.post__title {
  font: {
    size: 1rem;
    weight: bold;
  }
  margin: {
    bottom: .25rem;
    top: 0;
  }
}

.post__date,
.post__reading-time {
  color: color(gray);
  font-size: .8rem;
}

.post {
  margin-bottom: 3rem;
  blockquote {
    border-left: {
      color: color(gray, light);
      style: solid;
      width: 4px;
    }
    margin: {
      bottom: 1.5rem;
      left: 0;
      top: 1.5rem;
    }
    padding-left: 1.25rem;
    * { color: color(gray); }
  }
  ol,
  ul {
    line-height: 1.5;
  }
  img,
  video {
    display: block;
    margin: {
      bottom: 1.5rem;
      left: auto;
      right: auto;
      top: 1.5rem;
    }
    max-width: 100%;
  }
  sup {
    font-style: normal;
    margin-right: .5rem;
    position: relative;
    vertical-align: baseline;
    a {
      background-image: none !important;
      border-bottom: 0;
      color: color(black, serif);
      font: {
        family: $sans;
        size: .7rem;
      }
      position: absolute;
      text-decoration: none;
    }
  }
  table {
    border: {
      color: color(gray, light);
      style: solid;
      width: 1px;
    }
    border-collapse: collapse;
    border-spacing: 0;
    margin: {
      bottom: 1.5rem;
      top: 1.5rem;
    }
    max-width: 100%;
    min-height: .01%;
    overflow-x: auto;
    width: 100%;

    th,
    td {
      padding: {
        bottom: 0.6rem;
        left: 1rem;
        right: 1rem;
        top: 0.6rem;
      }
    }
    th {
      border-left: {
        color: color(gray, light);
        style: solid;
        width: 1px;
      }
      font-weight: 600;
      text-align: left;
    }
    td {
      border: {
        color: color(gray, light);
        style: solid;
        width: 1px;
      }
      border-bottom: 0;
      border-right: 0;
      text-align: left;
    }
  }
  ul,
  ol { padding-left: 1rem; }
  .footnotes-sep {
    border: {
      color: color(black);
      style: solid;
      width: 1px;
    }
    margin: {
      bottom: 3rem;
      top: 3rem;
    }
    max-width: 1.5rem;
    &:before { display: none; };
  }
}

.post__nav {
  @include respond-to(sm) {
    @include flex-row;
    justify-content: space-between;
  }
  @include flex-column;
  border: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
  border-left: 0;
  border-right: 0;
  margin-bottom: 3rem;
  padding: {
    bottom: 1rem;
    top: 1rem;
  }
}

.post__nav-link {
  &.previous { margin-bottom: 1rem; }
  @include flex-column;
  @include respond-to(sm) {
    flex: 1;
    max-width: 50%;
    &:only-child { max-width: 100%; }
    &.previous {
      align-items: flex-start;
      margin-bottom: 0;
      text-align: left;
    }
    &.next {
      align-self: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }
  text-align: center;
}

.post__nav-link-title {
  @include respond-to(sm) {
    font-size: 1rem;
  }
  color: color(green);
  font-size: .9rem;
  margin-bottom: .25rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post__nav-link-date {
  color: color(gray);
  font-size: .8rem;
}

.thanks {
  margin-top: 3rem;
  font-size: .85rem;
}

.footnotes {
  border-top: {
    color: color(gray, light);
    style: solid;
    width: 1px;
  }
  margin-top: 3rem;
  li p {
    margin: {
      bottom: .75rem;
      top: .75rem;
    }
  }
  * { font-size: .85rem; }
}

twitterwidget {
  margin: {
    left: auto;
    right: auto;
  }
}
