$colors: (
  black: (
    base: #323232,
  ),
  gray: (
    base: #666c78,
    dark: #323232,
    light: #e7e9ee,
  ),
  green: (
    base: #00c266,
  ),
  white: (
    base: #ffffff,
  )
);
$root-container-width: 32rem;
$root-font-size: 18px;
$sans: Lato, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
