{
    "extends": ["stylelint-config-standard"],
    "rules": {
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "tailwind",
                    "apply",
                    "variants",
                    "responsive",
                    "screen",
                    "layer"
                ]
            }
        ],
        "declaration-block-trailing-semicolon": null,
        "indentation": 4,
        "no-descending-specificity": null
    }
}
