---
title: Home
---

{% include nav.html %}

<header class="mar-tb-6">
<h1 class="intro">I'm Tom Meagher, a data scientist that likes storytelling—and the em dash.</h1>
</header>

<section>
  {% assign post = site.posts.first %}
  <p>I enjoy making simple things for humans and geeking out about technology startups. Read my latest <a href="{{ post.url | prepend: site.baseurl }}">writing</a>.</p>

  <p>You can find me on <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>, <a href="https://github.com/{{ site.github }}">GitHub</a>, and <a href="mailto:{{ site.email }}">email</a>.</p>
</section>

{% include footer.html %}