<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{include.title}}</h1>
    <time
      class="post__date"
      datetime="{{ page.date | date: '%Y-%m-%d' }}"
    >
      {{ include.date | date: '%b %-d, %Y' }}
    </time>
    <span class="post__reading-time">
    {% capture words %} {{ include.content | number_of_words | minus: 250 }} {% endcapture %}
    {% unless words contains "-" %}
    ∙
    {{ words | plus: 250 | divided_by: 180 | append: " min read" }}
    {% endunless %}
    </span>
  </header>

  {{ include.content | smartify }}
</article>
