<ul class="contact-list">
    <li class="contact-item"><a href="https://twitter.com/{{ site.twitter }}">
        <span class="contact-title">Twitter</span>
        <span class="contact-date">@tomfme</span>
    </a></li>
    <li class="contact-item"><a href="https://github.com/{{ site.github }}">
        <span class="contact-title">GitHub</span>
        <span class="contact-date">@tmm</span>
    </a></li>
    <li class="contact-item"><a href="https://medium.com/@tfm">
        <span class="contact-title">Medium</span>
        <span class="contact-date">@tfm</span>
    </a></li>
    <li class="contact-item"><a href="mailto:{{ site.email }}">
        <span class="contact-title">Email</span>
        <span class="contact-date">tom@meagher.co</span>
    </a></li>
</ul>