<footer>
  <p class="sans mar-b-1 small"><b>Newsletter</b> <span class="color-gray">Occasional thoughts</span></p>
  <section id="mc_embed_signup" class="mar-b-5">
    <form action="//meagher.us6.list-manage.com/subscribe/post?u=9a332c4c6d2e67493a9eb8968&amp;id=6f4ed58143" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email :)">
      </div>

      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_9a332c4c6d2e67493a9eb8968_6f4ed58143" tabindex="-1" value=""></div>
    </form>
  </section>

  <p class="sans small color-gray text-center">© {{'now' | date: '%Y' }} {{ site.author }}, unless otherwise noted.</p>
</footer>