<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <title>{% if page.title %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/styles.css">
  <link href="/assets/favicons/favicon.ico" rel="icon">
  <link href="/assets/favicons/icon-512.png" rel="icon" sizes="512x512">
  <link href="/assets/favicons/icon-192.png" rel="icon" sizes="192x192">
  <link href="/assets/favicons/icon-144.png" rel="icon" sizes="144x144">
  <link href="/assets/favicons/icon-96.png" rel="icon" sizes="96x96">
  <link href="/assets/favicons/icon-72.png" rel="icon" sizes="72x72">
  <link href="/assets/favicons/icon-512.png" rel="apple-touch-icon" sizes="512x512">
  <link href="/assets/favicons/icon-192.png" rel="apple-touch-icon" sizes="192x192">
  <link href="/assets/favicons/icon-144.png" rel="apple-touch-icon" sizes="144x144">
  <link href="/assets/favicons/icon-96.png" rel="apple-touch-icon" sizes="96x96">
  <link href="/assets/favicons/icon-72.png" rel="apple-touch-icon" sizes="72x72">
</head>
