<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="mc-embed-signup">
    <form
        action="https://meagher.us6.list-manage.com/subscribe/post?u=9a332c4c6d2e67493a9eb8968&amp;id=6f4ed58143" method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
    >
        <div class="mc-field-group">
            <label for="mce-EMAIL" class="mc-field-label">If you enjoyed this, subscribe to get new posts via email:</label>
            <div class="mc-field-input">
                <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="required email mc-field-email"
                    id="mce-EMAIL"
                    placeholder="tony@starkindustries.com"
                >
                <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button mc-field-button">
            </div>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_9a332c4c6d2e67493a9eb8968_6f4ed58143" tabindex="-1" value="">
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->