{% if paginator.total_pages > 1 %}
<ul class="pager flex-center">
  {% if paginator.previous_page %}
  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev">Prev</a></li>
  {% else %}
  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev disabled">Prev</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == 1 %}
  <li><a href="{{ site.baseurl }}/blog/" {% if paginator.page == 1 %}class="current"{% endif %}>{{ page }}</a></li>
  {% else %}
  <li><a href="{{ site.paginate_path | prepend: '/' | replace: ':num', page }}" {% if paginator.page == page %}class="current"{% endif %}>{{ page }}</a></li>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a></li>
  {% else %}
  <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next disabled">Next</a></li>
  {% endif %}
</ul>
{% endif %}