// modules: 404

.body-404 {
  @include center;
  margin: 17rem 0 1rem;
  @media #{$mobile} {
    margin: 5rem 0 1rem;
  }
}

.number {
  margin: 1rem 0;
  font: normal 3rem $lato;
}

.rewind {
  font: normal 1.25rem $lato;
  @include link;
}