// modules: 404

.error {
  margin: 17rem 0 1rem;
  @include center;
  
  @media #{$mobile} {
    margin: 5rem 0 1rem;
  }
}

.number {
  margin: 1rem 0;
  font: 3rem $lato;
}

.rewind {
  font: 1.25rem $lato;
  @include link($light-gray, $green, none);
}