*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  padding: 1rem;
  max-width: 39rem;
  background-color: $white;
  color: $black;
  font-family: $sans;
  font-size: 18px;
  line-height: 145%;
}

p {
  margin-bottom: 1.2rem;
  font-family: $serif;
  font-size: 110%;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}

a {
  border-bottom: 1px solid $gray-light;
  color: darken($gray, 25);
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

hr {
  margin: 4rem auto;
  border: 1px solid $gray-light;
  max-width: 6rem;
}

blockquote {
  margin: 3rem 0;

  p {
    color: $blue;
    font: 300 1.5rem $sans;
    line-height: 2rem;
    text-align: center;
  }
}

img, video {
  margin: 3rem auto;
  border-radius: 4px;
  max-width: 100%;
  display: block;
}

ol, ul {
  li {
    font-family: $serif;
    font-size: 110%;

    & > p {
      font-size: 100%;

      & .reversefootnote {
        border-bottom: 0;
      }
    }
  }
}

sup {
  a {
    border-bottom: 0;
    color: darken($gray, 10);
    font-family: $sans;

    &:hover {
      color: $red;
    }
  }
}

time {
  display: block;
  color: darken($gray, 10);
  font-family: $sans;
}

table {
  margin: 2rem 0;
  border: 1px solid $gray-light;
  border-spacing: 0;
  border-collapse: collapse;
  min-height: .01%;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  font-family: $serif;

  tbody tr:nth-child(odd) {
    background-color: $white;
  }

  tbody tr:nth-child(even) {
    background-color: darken($white, 1);
  }

  th, td {
    padding: 0.6rem 1rem 0.6rem 1rem;
    color: $black;
  }

  th {
    font-weight: 600;
    background: $white;
    border-left: 1px solid $gray-light;
  }

  td {
    border-top: 1px solid $gray-light;
    border-left: 1px solid $gray-light;
    text-align: left;
  }
}

nav {
  display: flex;
  border-bottom: 1px solid $gray-light;
  height: 36px;
  
  a {
    margin-right: 10px;
    margin-bottom: -1px;
    border-bottom: 1px solid $gray-light;
    background-color: transparent;
    color: darken($gray, 20);
    font-family: $mono;
    font-weight: 300;
    text-transform: uppercase;
    
    &:hover, &.current {
      border-color: $blue;
      color: $blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

footer {
  color: $gray;
  font-size: 0.95rem;
  font-family: $sans;
  font-weight: 400;
}

.me {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  max-width: 50%;
}

.intro {
  color: darken($gray, 30);
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
}

.feature-item {
  display: flex;
  border: 2px solid $gray-light;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 75px;

  &:hover {
    border: 3px solid $green;
    transition: .15s;
  }
}

.feature-title {
  color: $green;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
}

.feature-date {
  color: darken($gray, 20);
  font-size: .9rem;
  text-transform: uppercase;
  margin: 0;
}

.post-list {
  margin-left: -2.5rem;

  & li:first-child {
    border-top: 1px solid $gray-light;
  }
}

.post-item {
  border-bottom: 1px solid $gray-light;
  padding: 0.5rem 0;
  width: 100%;
  list-style-type: none;
  font-family: $sans;
  font-size: 90%;

  a {
    display: flex;
    border-bottom: 0;
    color: $black;

    &:hover {
      color: $red;
    }
  }
}

.post-title {
  flex-grow: 1;
}

.post-date {
  justify-self: flex-end;
  color: darken($gray, 20);
  font-size: 80%;
}

