// modules: base

body {
  background-color: $white;
  color: $gray;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

.nav {
  font: 1.2rem $lato;
  margin: 1rem 0 2rem;
  @include center;
  @include list-inline();

  li>a {
    @include link();
  }
}

.foot {
  font: 1rem $lato;
  margin: 5rem 0 1rem;
  @include center;

  a {
    @include link();
  }
}