// modules: blog

.post-list {
  margin: 3rem auto 0;
  padding: 0;
  max-width: 35rem;

  ul {
    margin-left: -2.5rem;
    list-style-type: none;

    li {
      margin: 1.75rem 0 0;
      padding: 0 1rem;
    }
  }
}

.post-title {
  margin-bottom: 0.25rem;
  display: block;
  font: 700 1.75rem $lato;
  line-height: 2rem;
  
  a {
    @include link($gray, $green, none);
  }
}

.post-date {
  color: $light-gray;
  font: 300 1.0rem $lato;
}