// modules: blog

.blog-post-list {
  margin: 3rem auto 0;
  padding: 0;
  max-width: 35rem;

  ul {
    margin-left: -2.5rem;
    list-style-type: none;

    li {
      margin: 1.75rem 0 0;
      padding: 0 1rem;
    }
  }
}

.blog-post-title {
  margin-bottom: 0.25rem;
  display: block;
  font: 700 1.75rem $lato;
  line-height: 2rem;

  @media #{$mobile} {
    font-size: 1.5rem;
  }
  
  a {
    @include link($gray, $green, none);
  }
}

.blog-post-date {
  color: $light-gray;
  font: 300 1.0rem $lato;
}

.blog-pagination {
  margin: 2rem auto;
  padding-bottom: 2rem;
  max-width: 35rem;
}

.blog-button-group {
  padding: 0 1rem;
  font: 500 0.9rem $lato;

  a {
    @include button($gray, $white);
  }
}

.newer {
  float: left;
  width: 25%;
}

.older {
  float: right;
  width: 25%;
}