// modules: blog

.body-blog {}

.post-list {
  margin: 3rem auto 0;
  max-width: 35rem;
  padding: 0;

  ul {
    list-style-type: none;
    margin-left: -2.5rem;

    li {
      margin: 2.25rem 0 0;
      padding: 0 1rem;
    }
  }
}

.post-title {
  font: 700 2rem $libre-baskerville;
  margin-bottom: 0.25rem;
  display: block;
  
  a {
    @include link($gray, $green);
  }
}

.post-date {
  font: 300 1.05rem $lato;
}