.highlight {
  margin-left: 0;
  margin-right: 0;
  border-radius: $border-radius;
  background: #282a36;
}

pre {
  font-family: $code;
  margin: 0;
  padding: 1rem 12px;
}

$c1: #999988;
$c2: #999999;
$c3: #000000;
$c4: #aa0000;
$c5: #555555;
$c6: #50fa7b;
$c7: #009999;
$c8: #d14;
$c9: #008080;
$c10: #990000;

.highlight {
  .c { color: $c1; font-style: italic } /* Comment */
  .c1 { color: $c1; font-style: italic } /* Comment.Single */
  .cm { color: $c1; font-style: italic } /* Comment.Multiline */

  .cp { color: $c2; font-weight: bold } /* Comment.Preproc */
  .cs { color: $c2; font-weight: bold; font-style: italic } /* Comment.Special */
  .gh { color: $c2; } /* Generic.Heading */
  .bp { color: $c2; } /* Name.Builtin.Pseudo */

  .gd { color: $c3; background-color: #ffdddd } /* Generic.Deleted */
  .gd .x { color: $c3; background-color: #ffaaaa } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gi { color: $c3; background-color: #ddffdd } /* Generic.Inserted */
  .gi .x { color: $c3; background-color: #aaffaa } /* Generic.Inserted.Specific */

  .gr { color: $c4; } /* Generic.Error */
  .gt { color: $c4; } /* Generic.Traceback */
  
  .gp { color: $c5; } /* Generic.Prompt */
  .nn { color: $c5; } /* Name.Namespace */

  .kt { color: $c6; font-weight: bold } /* Keyword.Type */
  .nc { color: $c6; font-weight: bold } /* Name.Class */

  .mf { color: $c7; } /* Literal.Number.Float */
  .mh { color: $c7; } /* Literal.Number.Hex */
  .mi { color: $c7; } /* Literal.Number.Integer */
  .mo { color: $c7; } /* Literal.Number.Oct */
  .m { color: $c7; } /* Literal.Number */
  .il { color: $c7; } /* Literal.Number.Integer.Long */
  
  .s { color: $c8; } /* Literal.String */
  .sb { color: $c8; } /* Literal.String.Backtick */
  .sc { color: $c8; } /* Literal.String.Char */
  .sd { color: $c8; } /* Literal.String.Doc */
  .s2 { color: $c8; } /* Literal.String.Double */
  .se { color: $c8; } /* Literal.String.Escape */
  .sh { color: $c8; } /* Literal.String.Heredoc */
  .si { color: $c8; } /* Literal.String.Interpol */
  .sx { color: $c8; } /* Literal.String.Other */
  .s1 { color: $c8; } /* Literal.String.Single */

  .na { color: $c9; } /* Name.Attribute */
  .no { color: $c9; } /* Name.Constant */
  .nv { color: $c9; } /* Name.Variable */
  .vc { color: $c9; } /* Name.Variable.Class */
  .vg { color: $c9; } /* Name.Variable.Global */
  .vi { color: $c9; } /* Name.Variable.Instance */

  .ne { color: $c10; font-weight: bold } /* Name.Exception */
  .nf { color: $c10; font-weight: bold } /* Name.Function */
}

.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .ow { font-weight: bold } /* Operator.Word */

.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
