// modules: foot

// main

.foot {
  margin: 5rem 0 2rem;
  font: 300 1rem $lato;
  @include center;

  a {
    @include link();
  }
}

// blog

.foot-blog {
  font-weight: 500;
  font-family: $lato;
  margin: 5rem auto 3rem;
  padding: 0 1rem 10rem;
  max-width: 37rem;

  a {
    @include link();
  }

  @media #{$mobile} {
    margin: 3rem auto 2rem;
  }
}

.form {
  width: 50%;
  float: right;

  @media #{$mobile} {
    width: 100%;
    float: none;
    margin: 0 0 2rem;
  }
}

.mc-field-group {
  width: 100%;
  margin: 0.25rem 0 0.65rem;
}

.small-title {
  display: block;
  font-weight: 700;
  font-size: 0.7rem;
}

.email {
  width: 99.5%;
  background-color: transparent;
  color: $light-gray;
  font-size: 1rem;
  border: 0;
  border-bottom: solid 2px $light-gray;
  padding-bottom: 7px;
  outline: 0;

  &:focus {
    border-color: $gray;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

.button {
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid $gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 7px 15px;
  background-color: $white;
  color: $gray;
  text-decoration: none;

  &:hover {
    background-color: $gray;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

.left {
  width: 48%;
  float: left;

  @media #{$mobile} {
    width: 100%;
    float: none;
  }
}

.me {
  display: block;
  color: $light-gray;
  margin: 0.35rem 0 0.65rem;
}