footer {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $sm) {
    align-items: stretch;
  }
}

#mc_embed_signup {
  form {
    border: 2px solid $gray-light;
    border-radius: $border-radius;
    padding: 3px;
    height: 45px;
    width: 345px;
    display: flex;
    align-items: stretch;
    transition: 0.25s;

    &:hover {
      border-color: $gray-light - 12;
    }
    
    @media screen and (max-width: $sm) {
      width: auto;
    }
  }

  .mc-field-group {
    display: inline-flex;
    flex: 7.5;
  }

  input, button {
    border: 0;
    box-sizing: border-box;
    transition: 0.25s;
  }

  input {
    margin: 0;
    padding: 0 10px;
    flex: 1;
    appearance: none;
    font-size: 0.95rem;
    outline: 0;
  }

  button {
    @include button($green);
    flex: 2.85;
  }
}