// modules: foot

// main

.foot {
  margin: 5rem 0 2rem;
  font: 300 1rem $lato;
  @include center;

  a {
    @include link();
  }
}

// blog

.foot-blog {
  font-weight: 500;
  font-family: $lato;
  margin: 5rem auto 3rem;
  padding: 0 1rem 10rem;
  max-width: 37rem;

  a {
    @include link();
  }

  @media #{$mobile} {
    padding: 0 1rem 7.5rem;
  }
}

.form {
  width: 50%;
  float: right;

  @media #{$mobile} {
    width: 100%;
    float: none;
    margin: 0 0 2rem;
  }
}

.mc-field-group {
  width: 100%;
  margin: 0.25rem 0 0.65rem;
}

.small-title {
  display: block;
  font-weight: 700;
  font-size: 0.7rem;
}

.email {
  width: 100%;
  background-color: transparent;
  color: $gray;
  font-size: 1rem;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-bottom: solid 2px $light-gray;
  padding: 7px 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  &:focus {
    border-color: $gray;
  }
}

.button {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include button($gray, $white);
}

.left {
  width: 48%;
  float: left;

  @media #{$mobile} {
    width: 100%;
    float: none;
  }
}

.me {
  display: block;
  color: $light-gray;
  margin: 0.35rem 0 0.65rem;
}