@each $type in left, center, right, justify {
  .text-#{$type} { text-align: $type; }
}

@each $name, $color in ("blue", $blue), ("green", $green), ("yellow", $yellow), ("red", $red), ("gray", $gray) {
  .color-#{$name} { color: $color; }
}

@each $name, $color in ("blue", $blue), ("green", $green), ("yellow", $yellow), ("red", $red) {
  .background-#{$name} { background-color: $color; }
}

@each $level, $size in (0, 0), (1, $l1), (2, $l2), (3, $l3), (4, $l4), (5, $l5), (6, $l6) {
  .mar-#{$level} { margin: #{$size}; }
  .mar-t-#{$level} { margin-top: $size; }
  .mar-r-#{$level} { margin-right: $size; }
  .mar-b-#{$level} { margin-bottom: $size; }
  .mar-l-#{$level} { margin-left: $size; }
  .mar-tb-#{$level} {
    margin-top: $size;
    margin-bottom: $size;
  }
}

@each $level, $size in (0, 0), (1, $l1), (2, $l2), (3, $l3), (4, $l4), (5, $l5), (6, $l6) {
  .pad-#{$level} { padding: $size; }
  .pad-t-#{$level} { padding-top: $size; }
  .pad-r-#{$level} { padding-right: $size; }
  .pad-b-#{$level} { padding-bottom: $size; }
  .pad-l-#{$level} { padding-left: $size; }
  .pad-tb-#{$level} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.sans { font-family: $sans; }
.serif { font-family: $serif; }
.small { font-size: 1rem; }