@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,100);

$blue: #0087F8;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 4rem auto 1rem;
  max-width: 40rem;
  padding: 0 1rem;
  line-height: 2;
  background-color: $blue;
  color: darken($blue, 40);
  font-family: 'Roboto Mono';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  background-color: darken($blue, 3);
  color: darken($blue, 40);
  text-decoration: none;
  transition: .25s;
  
  &:hover {
    background-color: darken($blue, 5);
  }
}

nav {
  margin-top: 2rem;
  border-top: 1px solid darken($blue, 10);
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 300;
  
  a {
    border-top: 1px solid darken($blue, 10);
    padding-top: 10px;
    background-color: transparent;
    color: darken($blue, 20);
    letter-spacing: 2px;
    transition: .25s;
    
    &:hover, &.current {
      border-top: 1px solid darken($blue, 30);
      color: darken($blue, 40);
      background-color: transparent;
    }
  }
}