// modules: intro

.head-intro {
  margin: 17rem 0 0;
  @include center;
  
  @media #{$mobile} {
    margin: 8rem 0 0;
  }
}

.tag {
  margin: 1rem 0 0;
  font: italic 2.25rem $noto-serif;
  color: $gray;
}