@mixin clearfix() {
  &:after {
    clear: both;
  }

  &:after, &:before {
    content: " ";
    display: table;
  }
}

@mixin button($color) {
  border-radius: $border-radius;
  background-color: $color;
  color: $white;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: $sans;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    background-color: darken($color, 2%);
  }

  &:active {
    background-color: lighten($color, 2%);
  }
}