// modules: mixins

@mixin center { text-align: center; }

@mixin list-inline($margin, $paddingr, $paddingl) {
  ul {
    list-style: none;
    margin-left: $margin;

    li {
      display: inline-block;
      margin-top: .75rem;
      padding-right: $paddingr;
      padding-left: $paddingl;
    }
  }
}

@mixin link-social($img1, $img2) {
  padding-left: 1.875rem;
  color: $font;
  background: $img1;
  background: $img2;
  text-decoration: none;
  opacity: 0.3;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

  &:hover {
    opacity: 1.0;
  }
}