@mixin clearfix() {
  &:after {
    clear: both;
  }

  &:after, &:before {
    content: " ";
    display: table;
  }
}

@mixin button($color) {
  transition: 0.25s;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: $sans;
  text-decoration: none;
  color: $white;
  background-color: $color;

  &:hover {
    background-color: darken($color, 2%);
  }

  &:focus {
    background-color: darken($color, 4%);
  }

  &:active {
    background-color: darken($color, 6%);
  }
}