.pager {
  margin: 3rem 0;
  padding: 0;

  li {
    display: inline-flex;
  }

  a {
    border: 2px solid $gray-light;
    border-left: none;
    padding: 4px 15px;
    color: $gray-dark;
    font-weight: 600;
    font-family: $sans;
    font-size: $font-size;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 1s;

    &:hover { background-color: $gray-light; }

    &.disabled {
      background-color: $white;
      color: $gray + 15;
      cursor: not-allowed;
    }

    &.current {
      background-color: $green;
      color: $white;
    }

    &.prev {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-left: 2px solid $gray-light;
    }

    &.next {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}