// modules: post

.post {
  margin: 3rem auto 3rem;
  padding: 0 1rem;
  max-width: 37rem;
}

// Markdown Styles

.content {
  
  .title {
    margin-bottom: 4rem;
    @include center;
  }
  
  h1 {
    margin-bottom: 1rem;
    font: bold 2.5rem $georgia;
  }
  
  .date {
    color: $light-gray;
    font: 300 1.15rem $lato;
  }
  
  h2 {
    margin: 3rem 0 1.5rem 0;
    font: bold 1.5rem $lato;
  }

  h3 {
    margin: 1.75rem 0;
    font: bold 1.15rem $lato;
  }

  p {
    margin: 0 0 1.75rem 0;
    font: 1.15rem $georgia;
    line-height: 1.85rem;

    @media #{$mobile} {
      line-height: 1.75rem;
    }
  }

  a {
    @include link($gray, $green, underline);
  }

  blockquote {

    &.normal {
      margin: 1.75rem 0 1.7rem auto;
      padding-left: 1.75rem;
      border-left: 2px solid $green;
      color: $light-gray;
    }
    
    &.big {
      margin: 3rem 0;

      p {
        color: $green;
        font: 300 1.5rem $lato;
        line-height: 2rem;
        @include center;

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }
    }
  }

  hr {
    margin: 4rem auto;
    border: 0;
    width: 100%;
    @include center;

    &::before {
      margin-left: 2rem;
      content: "***";
      font-size: 1.15rem;
      letter-spacing: 2rem;
      opacity: 0.45;
    } 
  }

  ol, ul {
    margin: 0 0 1.75rem 0;
    font: 1.15rem $georgia;
    line-height: 1.75rem;
  }


  .image {
    margin: 3rem auto 0;
    
    &.bleed {
      img {
        margin: 0 -10%;
        width: 120%;

        @media screen and (max-width: 770px) {
          margin: 0;
          width: 100%;
        }
      }
    }

    &.inline {
      img {
        margin: 0;
        width: 100%;
      }
    }

    &.normal {
      max-width: 80%;
      
      img {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  
  .caption {
    &.bleed {
      margin: 0rem -10% 3rem;
      color: $light-gray;
      font: 300 0.85rem $lato;

      @media screen and (max-width: 770px) {
        margin: 0 auto 3rem;
      }
    }

    &.inline {
      margin: 0 0 3rem;
      color: $light-gray;
      font: 300 0.85rem $lato;
    }

    &.normal {
      margin: 0 auto 3rem;
      max-width: 80%;
      color: $light-gray;
      font: 300 0.85rem $lato;
    }
  }
  
  sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
  }

  .footnotes {

    p {
      margin: 0 0 1.5rem;
    }

    ol {
      padding-left: 1.25rem;

      li>p {
        margin-bottom: .5rem;
      }
    }
  }
}