// modules: post

.body-post {
  font-size: 18px;

  @media #{$mobile} {
    font-size: 16px;
  }
}

.post {
  margin: 3rem auto 0;
  max-width: 37.5rem;
  padding: 0;
}

.title {
  margin-bottom: 3rem; 

  h1 {
    font: 900 3.5rem $merriweather;
    margin-bottom: 1rem;
    @include center;
  }

  p {
    font: 300 1.05rem $lato;
    @include center;
  }
}

// Markdown Styles

.content h1, h2, h3, h4, h5, h6 {
  font-family: $lato;
}

.content p {
  font-family: merriweather;
}