@import "variables";
@import "functions";
@import "mixins";

.post {
  margin-top: 3rem;

  a {
    background: {
      image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%);
      repeat: repeat-x;
      size: 2px 2px;
      position: 0 1.15rem;
    }
    color: color(black, serif);
    text-decoration: none;

    &:hover { color: color(black, serif); }
  }
}
.post__header {
  color: color(black, serif);
  margin-bottom: 2rem;
  text-align: center;
}
.post__title {
  @include respond-to(md) {
    font-size: 2rem;
    line-height: 1.4;
  }
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0;
}
.post__time {
  display: block;
  font-size: .9rem;
  margin-bottom: 1rem;
}
.post__thanks {
  font-style: italic;
}

.dark {
  .post {
    a {
      background-image: linear-gradient(to bottom,rgba(255,255,255,.68) 50%,rgba(255,255,255,0) 50%);
      color: color(white, serif);
      &:hover { color: color(white, serif); }
    }
  }
  .post__header {
    color: color(white, serif);
  }
}
