// modules: projects

.body-projects {
  font-family: $lato;

  @media #{$mobile} {
    font-size: 14px;
  }
}

.section {
  margin: 5rem auto 0;
}

.about {
  @include center;
  @include list-inline(-2.5rem, 1rem, 0.3125rem);
  margin: 1rem 0 0;
  
  ul {
    margin-top: 0.75rem;
  }

  h1 {
    font-weight: 300;
    margin: 0rem 0 .25rem;
  }

  h2 {
    font-weight: 300;
    margin: 0.5rem 0 0.25rem;
  }

  @media #{$mobile} {
    margin: 0.94rem 0 0;
  }
}

.link-projects {
  font-size: 0.9rem;
  font-weight: 700;
  
  a {
    color: $blue;
    border: 2px solid $blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 7px 15px;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      background-color: $blue;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
}

.project-image {
  max-width: 150px;
  margin: 25px auto 2.5px;

  @media #{$mobile} {
    margin: 25px auto 5px;
  }
}

.project-icon {
  width: 150px;
}