// modules: projects

.section {
  margin: 3rem auto 4rem;
  font-family: $lato;
}

.about {
  margin: 1rem 0 0;
  @include center;
  @include list-inline(-2.5rem, 1rem, 0.3125rem);
  
  ul {
    margin-top: 0.75rem;
  }

  h1 {
    margin: 0 0 0.25rem;
    font-weight: 300;
  }

  h2 {
    margin: 0.5rem 0 0.25rem;
    font-weight: 300;
  }

  @media #{$mobile} {
    margin: 0.94rem 0 0;
  }
}

.link-projects {
  font-size: 0.9rem;
  font-weight: 500;
  
  a {
    border: 2px solid $blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 7px 15px;
    color: $blue;
    text-decoration: none;

    &:hover {
      background-color: $blue;
      color: #ffffff;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
}

.project-image {
  margin: 25px auto 2.5px;
  max-width: 150px;

  @media #{$mobile} {
    margin: 25px auto 5px;
  }
}

.project-icon {
  width: 150px;
}