// modules: projects

.body-projects {
  background-color: $white;
  color: $gray-projects;
  font-family: "Monsterrat",Helvetica,Arial,sans-serif;
  font-size: 16px;

  @media #{$mobile-projects} {
    font-size: 14px;
  }
}

.nav-projects {
  font: 1.15rem $montserrat;
  @include center;
  @include list-inline(-2.4375rem, .4375rem, .4375rem);

  margin: 1rem 0 0;

  li>a {
    @include link;
  }
}

.section {
  margin: 0 auto 2rem;
  max-width: 675px;
  overflow: auto;
  padding: 0;
}

.about {
  width: 50%;
  float: right;
  display: inline-block;
  text-align: center;
  margin: 25px auto 5px;

  h1 {
    color: $dark-gray-projects;
    font-weight: 300;
    margin: 0rem 0 .25rem;
  }

  h2 {
    color: $gray-projects;
    font-weight: 300;
    margin: 0.5rem 0 0.25rem;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

  @media #{$mobile-projects} {
    width: 100%;
    float: none;
    margin: 15px auto 5px;
  }
}

.inline-projects {
  list-style: none;
  margin-left: -40px;

  li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.link-projects {
  margin: 17px 0;
  font-size: 14px;
  font-weight: 600;
  
  a {
    color: $blue;
    border: 2px solid $blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 7px 15px;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      background-color: $blue;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
}

.project-image {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
  margin: 25px auto 5px;

  @media #{$mobile-projects} {
    width: 100%;
    float: none;
    padding: 0px;
    margin: 25px auto 5px;
  }
}

.project-icon {
  width: 150px;
}

.foot-projects {
  font: 0.75rem $montserrat;
  @include center;

  margin: 5rem 0 3rem;

  a {
    @include link;
  }
}