h2, h3, h4 {
  font-family: $sans;
  font-weight: 600;
}

h1 {
  font-family: $serif;
  font-size: $font-size-h1;
  margin-bottom: $l6;
}

h2 {
  font-size: $font-size-h2;
  margin: $l3 0;
}

h3 {
  font-size: $font-size-h3;
  margin: $l2 0;
}

h4 {
  font-size: $font-size-h4;
  margin: $l1 0;
  color: $gray;

  & a {
    border-bottom: 0;
    color: $gray;

    &:hover { color: $green; }
  }
}

p {
  margin: 0 0 $l4;
  font-family: $serif;
  font-size: $font-size-p;
  font-weight: 400;
  line-height: $line-height;

  @media screen and (max-width: $sm) {
    line-height: $line-height-sm;
  }
}

b, strong, .bold { font-weight: 700; }
.bold-heavy { font-weight: 900; }

.sans { font-family: $sans; }
.serif { font-family: $serif; }