// fonts
$sans: Roboto, -apple-system, Helvetica, Arial, sans-serif;
$serif: Alegreya, 'Times New Roman', Georgia, serif;
$mono: 'Roboto Mono', monospace;

// colors
$white: #FAFAFA;
$black: #333;
$gray: #bbb;
$gray-light: #E5E5E5;
$blue: #0087F8;
$red: #FF554A;
$green: #00B284;

// widths
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// levels
$l1: 0.33rem;
$l2: 0.67rem;
$l3: 1rem;
$l4: 1.33rem;
$l5: 1.78rem;
$l6: 2rem;
$l7: 3rem;