// fonts
$sans: 'Lato', Helvetica, sans-serif;
$serif: Georgia, serif;

// colors
$white: #fbfbfb;
$gray-dark: #666666;
$gray: #ababab;
$gray-light: #E5E5EA;
$blue: #5898f1;
$green: #00b27f;
$yellow: #ec971f;
$red: #FA5744;

// sizes
$font-size: 17px;
$font-size-sm: 16px;
$font-size-h1: 2.5rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-p: 1.15rem;

// heights
$line-height: 1.7;
$line-height-sm: 1.6;

// widths
$sm: 544px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px; // Extra large screen / wide desktop

// levels
$l1: 6px;
$l2: 12px;
$l3: 18px;
$l4: 24px;
$l5: 32px;
$l6: 36px;

// misc
$border-radius: 4px;