$colors: (
  black: (
    base: #000000,
    serif: rgba(0,0,0,.9),
  ),
  gray: (
    base: #d9d9d9,
    dark: #323232,
  ),
  green: (
    base: #59c48e,
  ),
  orange: (
    base: #ff5722,
  ),
  white: (
    base: #fcfcfc,
    serif: rgba(255,255,255,.9),
  )
);
$root-container-width: 36rem;
$root-font-size: 18px;
$sans: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$mono: 'Roboto Mono', monospace;
