.button {
 @apply inline-flex items-center px-8 py-3 shadow-sm text-base font-medium rounded-lg text-white bg-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-fill focus:ring-blue-400;
}

@keyframes shimmer {
    0% { transform:translateX(-150%); }
    to { transform:translateX(150%); }
}

.shimmer {
    transition-duration: 0.2s;
}

.shimmer::after {
    @apply absolute bottom-0 left-0 opacity-0 top-0 transform transition-opacity -rotate-45;
}

.shimmer:hover::after,
.shimmer:focus::after {
    @apply opacity-100;
    animation: shimmer 3s ease infinite;
    background: hsla(0, 0%, 0%, 0) linear-gradient(to right, hsl(221, 91%, 53%, 0) 0%, hsl(221, 84.1%, 58%) 50%, hsl(221, 91%, 53%, 0) 100%) repeat scroll 0% 0%;
    content: '';
    height: 100%;
    transform: translateX(-150%);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    width: 150%;
}

@keyframes shine {
    0% {
        top: -110%;
        left: -80%
    }
    66.666666% {
        top: 25%;
        left: 25%
    }
    100% {
        top: 25%;
        left: 25%
    }
}

.shine {
    transition-duration: 0.2s;
}

.shine::after {
    @apply absolute opacity-0 -rotate-45 transform transition-opacity;
    content: '';
    top: -110%;
    left: -80%;
    width: 200%;
    height: 135%;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.15) 30%, hsla(0, 0%, 100%, 0.15) 60%, hsla(0, 0%, 100%, 0) 100%);
}

.shine:hover::after,
.shine:focus::after {
    @apply opacity-100;
    transition-timing-function: ease;
    transition-delay: 0.25s;
    animation: shine 3s ease infinite forwards;
    animation-delay: 0s;
    animation-delay: 0.25s;
}
