/* purgecss start ignore */
@import './fonts.css';
@import './footnotes.css';
@import './twitter.css';

@tailwind base;
@tailwind components;

:root {
    --colors-accent: hsl(146, 100%, 55%);
    --colors-background: hsl(210, 5%, 8%);
    --colors-border: hsl(210, 0%, 30%);
    --colors-heading: hsl(209, 25%, 95%);
    --colors-body: hsl(209, 3%, 70%);
    --colors-fill: hsl(210, 0%, 10%);
    --colors-muted: hsl(209, 0%, 55%);
    --colors-shadow: rgba(255, 255, 255, 0.03);

    --font-sans: Sans, -apple-system, 'BlinkMacSystemFont', sans-serif;
    --font-mono: Mono, 'SFMono-Regular', Consolas, monospace;
}

::selection {
    @apply bg-body;
    @apply text-background;
}

html {
    @apply font-sans;
    @apply antialiased;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

body {
    @apply bg-background;
    @apply leading-relaxed;
    @apply mb-20;
    @apply mt-0;
    @apply mx-auto;
    @apply px-4;
    @apply text-body;
    max-width: 38rem;
}

p {
    @apply mb-5;
    @apply mt-0;
}

a {
    @apply underline;
    color: inherit;
    text-decoration-color: var(--colors-border);
}
a:hover {
    @apply text-accent;
}
.text-decoration-color {
    text-decoration-color: var(--colors-border) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-medium;
    @apply text-heading;
    @apply leading-relaxed;
}

h2,
h3,
h4,
h5,
h6 {
    @apply mb-2;
    @apply mt-8;
}

hr {
    @apply border-border;
    @apply border-t;
    @apply mb-5;
    @apply mt-8;
}

ul,
ol {
    @apply mb-5;
    @apply pl-10;
}
ol {
    @apply list-decimal;
}
ul {
    @apply list-disc;
}

button:focus {
    @apply shadow-outline;
    outline: none;
}

input {
    @apply rounded-none;
    -webkit-appearance: none;
}

/* ===========================
gatsby image
=========================== */
.gatsby-resp-image-figure {
    @apply mb-4;
}

.gatsby-resp-image-figure .gatsby-resp-image-wrapper {
    @apply mb-0;
}

.gatsby-resp-image-wrapper {
    @apply mb-4;
}

.gatsby-resp-image-link {
    @apply border-0;
}

.gatsby-resp-image-image {
    box-shadow: none !important;
}

.gatsby-resp-image-figcaption {
    @apply mt-2;
    @apply text-muted;
    @apply text-center;
    @apply text-sm;
}
/* purgecss end ignore */

@tailwind utilities;
