---
title: Blog
---

<section class="mar-b-6">
  <h3 id="featured" class="mar-b-2">Featured</h3>
  <a class="feature-item" href="/blog/2016/08/25/roses-and-thorns/">
    <span class="feature-date">August 25, 2016</span>
    <h4 class="feature-title">Roses & Thorns</h4>
  </a>
</section>

{% for post in site.posts %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% unless forloop.first %}</section>{% endunless %}
<section class="mar-b-6">
  <h3 id="y{{post.date | date: "%Y"}}" class="mar-b-2">{{ currentdate }}</h3>
  <ul class="post-list">
    {% assign date = currentdate %}
    {% endif %}
    <li class="post-item"><a href="{{ post.url | prepend: site.baseurl }}"><span class="post-title">{{ post.title }}</span> <span class="post-date">{{ post.date | date: "%b %d" }}</span></a></li>
    {% if forloop.last %}
</ul>
</section>
{% endif %}
{% endfor %}