---
title: Archive
---

<header class="t-blog__header">
  <h1 class="t-blog__header-title">Archive</h1>
  <p class="t-blog__header-description">Almost everything I've written on the Web.</p>
</header>

{% for post in site.posts %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% unless forloop.first %}</section>{% endunless %}
<section class="t-section" id="y{{post.date | date: "%Y"}}">
    <h2 class="t-section__title">{{ currentdate }}</h2>
    <ul class="t-list">
      {% assign date = currentdate %}
      {% endif %}
      <li class="t-list-item">
        <a
          class="t-list-item__link"
          href="{{ post.url | prepend: site.baseurl }}"
        >
          <span class="t-list-item__title">{{ post.title }}</span>
          <time
            class="t-list-item__time"
            datetime="{{ post.date | date: "%Y-%m-%d" }}"
          >
            {{ post.date | date: "%m.%Y" }}
          </time>
        </a>
      </li>
      {% if forloop.last %}
    </ul>
</section>
{% endif %}
{% endfor %}
