---
layout: base
title: Blog
---

{% include nav.html %}

<section class="blog-post-list">
  <ul>
    {% for post in paginator.posts %}
      {% if post.hidden != true %}
      <li>
        <h3 class="blog-post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <date class="blog-post-date">{{ post.date | date: "%A %-d %B %Y" }}</date>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

{% if paginator.total_pages > 1 %}
<section class="blog-pagination">
  <div class="blog-button-group">
    {% if paginator.previous_page == nil %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="older">Older &rarr;</a>
    {% elsif paginator.next_page == nil %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="newer">&larr; Newer</a>
    {% else %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="newer">&larr; Newer</a>

      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="older">Older &rarr;</a>
    {% endif %}
  </div>
</section>
{% endif %}
