---
---

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: hsl(114, 35%, 37%);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: hsl(109, 0%, 0%);
  font: {
    family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    size: 16px;
  }
  height: 100vh;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

body {
  background-color: hsl(109, 0%, 85%);
  color: hsl(109, 0%, 5%);
  margin: {
    left: 2rem;
    right: 2rem;
    top: 2rem;
  }
}

a {
  color: hsl(109, 0%, 0%);
  text-decoration: underline;
}

h1 {
  font: {
    size: 1rem;
    weight: 900;
  }
  margin: 0;
}

h3 {
  font: {
    size: 1rem;
    weight: normal;
  }
  margin: 0;
}

ul {
  margin: {
    bottom: 1rem;
    top: 0;
  }
  padding-left: 1.5rem;
}

li {
  list-style-type: none;
}
