@keyframes shine {
    0% {
        top: -110%;
        left: -80%
    }
    66.666666% {
        top: 25%;
        left: 25%
    }
    100% {
        top: 25%;
        left: 25%
    }
}

.button::after {
    @apply absolute opacity-0 -rotate-45 transform transition-opacity;
    content: '';
    top: -110%;
    left: -80%;
    width: 200%;
    height: 135%;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.15) 30%, hsla(0, 0%, 100%, 0.15) 60%, hsla(0, 0%, 100%, 0) 100%);
}

.button:hover::after,
.button:focus::after {
    @apply opacity-100;
    transition-timing-function: ease;
    transition-delay: 0.25s;
    animation: shine 2s ease infinite forwards;
    animation-delay: 0s;
    animation-delay: 0.25s;
}
