@keyframes shine {
    0% {
        top: -110%;
        left: -80%
    }
    66.666666% {
        top: 25%;
        left: 25%
    }
    100% {
        top: 25%;
        left: 25%
    }
}

.button {
    @apply relative overflow-hidden inline-flex items-center justify-center px-3 py-3 md:py-2 shadow-sm text-sm md:text-base font-medium text-white transition-colors rounded-lg w-full bg-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:outline-none focus:ring focus:ring-offset-fill focus:ring-blue-400;
}

.button::after {
    @apply absolute opacity-0 -rotate-45 transform transition-opacity;
    content: '';
    top: -110%;
    left: -80%;
    width: 200%;
    height: 135%;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.15) 30%, hsla(0, 0%, 100%, 0.15) 60%, hsla(0, 0%, 100%, 0) 100%);
}

.button:hover::after,
.button:focus::after {
    @apply opacity-100;
    transition-timing-function: ease;
    transition-delay: 0.25s;
    animation: shine 3s ease infinite forwards;
    animation-delay: 0s;
    animation-delay: 0.25s;
}

.field {
    @apply appearance-none bg-fill h-10 pl-3 md:pl-4 outline-none text-sm md:text-base rounded-lg w-full placeholder-muted placeholder-opacity-100 focus:bg-background focus:ring focus:border-blue-300;

}
