/* https://github.com/adobe-fonts/source-sans-pro */
@font-face {
  font-family: source-sans;
  font-weight: 200 900;
  font-display: optional;
  font-style: normal;
  src: url('/fonts/source-sans/SourceSans3VF-Roman.ttf.woff2') format('woff2');
}

@font-face {
  font-family: source-sans;
  font-weight: 200 900;
  font-display: optional;
  font-style: italic;
  src: url('/fonts/source-sans/SourceSans3VF-Italic.ttf.woff2') format('woff2');
}

/* https://github.com/adobe-fonts/source-code-pro */
@font-face {
  font-family: source-code;
  font-weight: 100 900;
  font-display: optional;
  font-style: normal;
  src: url('/fonts/source-code/SourceCodeVariable-Roman.ttf.woff2') format('woff2');
}

@font-face {
  font-family: source-code;
  font-weight: 100 900;
  font-display: optional;
  font-style: italic;
  src: url('/fonts/source-code/SourceCodeVariable-Italic.ttf.woff2') format('woff2');
}
