/* https://github.com/adobe-fonts/source-sans-pro */
@font-face {
    font-family: source-sans;
    font-weight: 200 900;
    font-display: block;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/source-sans/SourceSans3VF-Roman.ttf.woff2?v=3.028') format('woff2'),
         url('/fonts/source-sans/SourceSans3VF-Roman.ttf.woff?v=3.028') format('woff');
}

@font-face {
    font-family: source-sans;
    font-weight: 200 900;
    font-display: block;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/source-sans/SourceSans3VF-Italic.ttf.woff2?v=3.028') format('woff2'),
         url('/fonts/source-sans/SourceSans3VF-Italic.ttf.woff?v=3.028') format('woff');
}

/* https://github.com/adobe-fonts/source-serif-pro */
@font-face {
    font-family: source-serif;
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('/fonts/source-serif/SourceSerifVariable-Roman.ttf.woff2?v=3.001') format('woff2'),
         url('/fonts/source-serif/SourceSerifVariable-Roman.ttf.woff?v=3.001') format('woff');
}

@font-face {
    font-family: source-serif;
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    src: url('/fonts/source-serif/SourceSerifVariable-Italic.ttf.woff2?v=3.001') format('woff2'),
         url('/fonts/source-serif/SourceSerifVariable-Italic.ttf.woff?v=3.001') format('woff');
}

/* https://github.com/adobe-fonts/source-code-pro */
@font-face {
    font-family: source-code;
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('/fonts/source-code/SourceCodeVariable-Roman.ttf.woff2?v=3.001') format('woff2'),
         url('/fonts/source-code/SourceCodeVariable-Roman.ttf.woff?v=3.001') format('woff');
}

@font-face {
    font-family: source-code;
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    src: url('/fonts/source-code/SourceCodeVariable-Italic.ttf.woff2?v=3.001') format('woff2'),
         url('/fonts/source-code/SourceCodeVariable-Italic.ttf.woff?v=3.001') format('woff');
}
