:root {
  color-scheme: dark;

  --background: #141414;
  --foreground: #bebebe;
  --muted: #919192;
  --border: #303031;

  --sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--sans);
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration-color: var(--border);
  text-decoration-skip: edges;
}

#root, #__next {
  isolation: isolate;
}

main {
  font-size: 1.15rem;
  font-weight: 375;
  letter-spacing: -0.004rem;
  line-height: 1.625;
  padding: 1rem;
}

.muted {
  color: var(--muted);
}
