@import './fonts.css';
@import './footnotes.css';
@import './markdown.css';
@import './syntax-highlighting.css';

@layer base {
    :root {
        --font-mono: source-code, serif, Menlo, SFMono-Regular, monospace;
        --font-sans: source-sans, Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
        --font-size: 18px;
    }

    @media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
        :root {
            --color-background: hsl(208, 6%, 8%);
            --color-body: hsl(109, 0%, 90%);
            --color-border: hsl(208, 6%, 30%);
            --color-fill: hsl(208, 6%, 12%);
            --color-mark: hsl(43, 50%, 10%);
            --color-muted: hsl(208, 6%, 65%);

            --token: hsl(109, 0%, 80%);
            --comment: hsl(109, 0%, 70%);
            --keyword: hsl(109, 100%, 100%);
            --name: hsl(109, 100%, 100%);
            --highlight: hsl(109, 0%, 10%);
        }
    }

    @media (prefers-color-scheme: light), print {
        :root {
            --color-background: hsl(208, 100%, 100%);
            --color-body: hsl(208, 0%, 10%);
            --color-border: hsl(208, 0%, 70%);
            --color-fill: hsl(208, 0%, 95%);
            --color-mark: hsl(43, 70%, 93%);
            --color-muted: hsl(208, 0%, 35%);

            --token: hsl(109, 0%, 40%);
            --comment: hsl(109, 0%, 50%);
            --keyword: hsl(109, 0%, 0%);
            --name: hsl(109, 0%, 20%);
            --highlight: hsl(109, 0%, 97%);
        }
    }

    html {
        @apply antialiased font-sans;
        font-size: var(--font-size);
        text-rendering: optimizeLegibility;
    }

    body {
        @apply bg-background text-body;
    }

    a {
        @apply underline;
        text-decoration-color: var(--color-border);
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
    }

    a:hover {
        @apply text-muted;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .grayscale {
        filter: grayscale(100%);
    }
    .grayscale:hover {
        filter: none;
    }
}
