@font-face {
    font-family: 'Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter/Inter-roman.var.woff2?v=3.18') format('woff2');
}

@font-face {
    font-family: 'Sans';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/inter/Inter-italic.var.woff2?v=3.18') format('woff2');
}

:root {
    /* colors */
    --color-foreground: hsl(0, 0%, 0%);
    --color-background: hsl(0, 100%, 100%);
    --color-selection: hsl(0, 0%, 0%);

    /* space */
    --space: 4px;
    --space-2x: 8px;
    --space-4x: 16px;
    --space-8x: 32px;
    --space-16x: 64px;
    --space-24x: 96px;
    --space-32x: 128px;
    --space-48x: 192px;
    --space-64x: 256px;

    /* typography */
    --font-sans: sans, sans-serif;
    --font-size: 16px;
}

::selection {
    background-color: var(--color-selection);
    color: var(--color-foreground);
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size);
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    text-decoration: underline;
    text-decoration-color: var(--color-border);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
