@import './footnotes.css';
@import './syntax.css';
@import './tables.css';

@layer base {
  p {
    @apply font-sans mb-5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    @apply no-underline;
  }

  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: inherit;
  }

  h1 a::after,
  h2 a::after,
  h3 a::after,
  h4 a::after,
  h5 a::after,
  h6 a::after {
    @apply inline-block text-muted opacity-0 ml-1;

    content: '#';
  }

  h1 a:hover::after,
  h2 a:hover::after,
  h3 a:hover::after,
  h4 a:hover::after,
  h5 a:hover::after,
  h6 a:hover::after {
    @apply opacity-100;
  }

  h1 {
    @apply mb-4 text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-3 mt-8;
  }

  blockquote {
    @apply my-5 pl-3 text-muted;
  }

  mark {
    @apply bg-mark text-body px-1;
  }

  kbd {
    @apply align-middle bg-border font-sans font-medium rounded-sm text-xs;

    margin: 0 2px;
    padding: 0 3px;
  }

  hr {
    @apply border-border border-t mb-5 mt-8;
  }

  ul {
    @apply my-5 pl-1;
  }

  ul li {
    @apply bg-no-repeat mb-0.5 list-none pl-7;

    background-position: 0 0.7rem;
    background-image: var(--bullet-url);
  }

  ol {
    @apply my-5 pl-8;
  }

  ol li {
    @apply mb-1 relative;
  }

  ol > li::before {
    @apply absolute font-mono -left-7 pt-0.5 text-muted text-sm;

    content: counter(list-item) ".";
  }
}

/* Styles that won't be purged */
.panel {
  @apply bg-fill flex justify-center mt-5 mb-8 px-2 py-6;
}
