@layer base {
    p {
        @apply font-serif mb-5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-medium;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        @apply no-underline;
    }

    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover {
        color: inherit;
    }

    h1 a::after,
    h2 a::after,
    h3 a::after,
    h4 a::after,
    h5 a::after,
    h6 a::after {
        @apply inline-block text-muted opacity-0 ml-1;
        content: '#';
    }

    h1 a:hover::after,
    h2 a:hover::after,
    h3 a:hover::after,
    h4 a:hover::after,
    h5 a:hover::after,
    h6 a:hover::after {
        @apply opacity-100;
    }

    h1 {
        @apply mb-4;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-2 mt-8;
    }

    ul,
    ol {
        @apply my-5 pl-6;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-square;
    }

    hr {
        @apply border-border border-t mb-5 mt-8;
    }

    blockquote {
        @apply my-5 pl-6 text-muted;
    }

    mark {
        @apply bg-mark px-1;
    }

    code {
        @apply bg-fill font-medium inline-block leading-normal px-1 text-sm;
    }

    sup {
        @apply align-middle bg-fill cursor-pointer font-medium font-sans h-4 inline-flex items-center justify-center leading-none rounded-lg text-body text-xs top-auto w-6;

        margin: 0 0.1em 0 0.2em;
        padding: 0 0.5em;
        top: -0.1em;
    }

    sup a {
        @apply no-underline text-center;
    }

    sup:hover {
        @apply bg-fill text-body;
    }

    sup:focus {
        @apply bg-fill outline-none ring border-blue-300 text-body;
    }
}

@import 'littlefoot/dist/littlefoot.css';

.footnotes {
    @apply font-sans mt-8 text-body;
    font-size: 0.9rem;
}

.footnotes hr {
    @apply mb-4;
}

.footnotes ol {
    @apply pl-4;
}

.footnotes li {
    @apply mb-3;
}

.footnote-backref {
    @apply no-underline;
    margin-left: 4px;
}

.littlefoot-footnote__button {
    @apply bg-fill cursor-pointer font-medium font-sans h-4 rounded-lg text-body text-xs transition-none w-6;
}

.littlefoot-footnote__button:hover {
    @apply bg-fill text-body;
}

.littlefoot-footnote__button:focus {
    @apply bg-fill outline-none ring border-blue-300 text-body;
}

.littlefoot-footnote__button.is-active {
    @apply bg-fill text-body;
}

.littlefoot-footnote {
    @apply bg-background border-border duration-200 md:rounded shadow transition-all;
}
.littlefoot-footnote.is-active {
    @apply opacity-100;
}

.littlefoot-footnote__wrapper {
    @apply bg-background rounded;
}

.littlefoot-footnote__content {
    @apply bg-background leading-normal px-4 rounded text-body text-base md:text-sm;
}

.littlefoot-footnote__tooltip {
    @apply hidden;
}

.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before {
    background-image: linear-gradient(
        to bottom,
        var(--colors-background) 50%,
        rgba(250, 250, 250, 0) 100%
    );
}
.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after {
    background-image: linear-gradient(
        to top,
        var(--colors-background) 50%,
        rgba(250, 250, 250, 0) 100%
    );
}
.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before,
.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after {
    @apply md:hidden;
}
.littlefoot-footnote.is-scrollable::after {
    @apply hidden;
}

@media only screen and (min-width: 640px) {
    .is-positioned-bottom {
        top: -0.35em !important;
    }
    .is-positioned-top {
        bottom: -0.35em !important;
    }
}
