@layer base {
  article pre {
    @apply font-mono my-5 overflow-x-auto pl-3 text-sm;
  }

  article pre code span {
    @apply leading-relaxed;
  }

  article :not(pre) code {
    @apply font-sans font-semibold;
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    @apply font-bold !important;
  }

  article code::before,
  code::after {
    @apply select-none text-muted;

    content: '`';
  }
  article pre code::before,
  pre code::after { content: ''; }
}

.keyword {
  @apply font-bold;

  color: var(--keyword);
}

.token.operator,
.token.punctuation,
.token.string,
.token.number,
.token.builtin,
.token.variable {
  color: var(--token);
}

.token.comment {
  color: var(--comment);
}

.token.class-name,
.token.function,
.token.tag,
.token.attr-name {
  color: var(--name);
}
